@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">This is a sample web application by Mathews Baby - V1</h1>
    <p>Nellithanathu House Karickom PO KOttarakara - from  GitHub </p>

    <p>pincode 691531</p>

</div>
